.lp_container_menu {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: transparent;
    background: #00010271;
    user-select: none;
    /* causing lag */
    /* backdrop-filter: blur(10px); */
    overflow: hidden;
    height: 410px;
    width: 380px;
    cursor: grab;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  .lp_container_menu:hover {
    background: #00010288;
    transform: scale3d(1.05, 1.05, 0.5);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  }
  .lp_container_menu .title_bar {
    position: absolute;
    top: 0px;
    text-align: center;
    border: transparent;
    background: #a9ececb0;
    user-select: none;
    overflow: hidden;
    height: 40px; 
    color: rgb(249, 253, 255);
    font-family: Subtitle;
    font-size: 25px;
    padding-top: 8px;
    width: 100%;
  }
  
.user_info {
    position: absolute;
    padding-top: 30px;
    color: rgb(255, 255, 255);
    height: 100px;
    width: 100%;
    top: 3vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: transparent;
}  
.user_info div {
    margin-top: 10px;
    margin-left: 20px;
}
.lp_image_container {
  position: absolute;
  bottom: -0.5vh;
  display: flex;
  padding: 3px;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  height: 230px;
  width: 101%; 
}
.lp_image_container .lp_image {
  height: 100%;
  width: 100%; 
  user-select: none;
  -webkit-user-drag: none;
}  